@model ExamSystem.Core.Entities.Topic

@{
    ViewData["Title"] = "Chi tiết Chủ đề";
}

<div class="container mt-4">
    <div class="card border-info shadow-sm">
        <div class="card-header bg-info text-white">
            <h4 class="m-0"><i class="fa fa-eye"></i> Chi tiết Chủ đề</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3 fw-bold">
                    ID
                </dt>
                <dd class="col-sm-9">
                    <span class="badge bg-secondary fs-6">@Model.Id</span>
                </dd>

                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    <span class="fs-5 text-primary">@Html.DisplayFor(model => model.Name)</span>
                </dd>

                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9" style="white-space: pre-wrap;">
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <a asp-action="Index" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Quay lại</a>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><i class="fa fa-pencil"></i> Sửa Chủ đề</a>
        </div>
    </div>
</div>